@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500&display=swap');

body, html {
    padding: 0;
    margin: 0;
    background: #050505;
}

* {
    box-sizing: border-box;
    font-family: "Cormorant";
    color: #ececec;
}

h1 {
    font-weight: 500;
}

span:not(span:nth-child(1)) {
    color: #944141;
}

span {
    font-size: 3vw;
}

body {
    padding: 5% 15%;
}

#hero {
    width: 100%;
    height: 1500px;
    background: url('/img/1631279609254.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero-img-desk {
    display: block;
    width: 100%;
    height: auto;
}

#hero-img-mobi {
    display: none;
}

#desc {
    font-size: 2vw;
    margin-bottom: 100px;
    text-align: justify;
}

#social-media {
    margin-top: 50px;
}

.socmed-link {
    display: block;
    width: 100%;
    text-decoration: none;
    margin-bottom: 50px;
}

.socmed-btn {
    background: #050505;
    border: 1px solid #ececec;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5vw;
    font-weight: 500;
    box-shadow: 4px 4px 8px #000;
    transition: background 1s;
}

.socmed-btn:hover {
    background: #ececec;
    color: #050505;
}

@media only screen and (max-width: 1700px) {
    #social-media {
        margin-top: 25px;
    }

    #desc {
        margin-bottom: 50px;
    }

    .socmed-link {
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 768px) {
    span {
        font-size: 4vw;
    }

    #hero-img-mobi {
        display: block;
        width: 100%;
        height: auto;
    }

    #hero-img-desk {
        display: none;
    }

    #social-media {
        margin-top: 0;
    }

    #desc {
        font-size: 3vw;
        margin-bottom: 55px;
    }

    .socmed-link {
        margin-bottom: 30px;
    }

    .socmed-btn {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 360px) {
    body {
        padding: 15% 10%;
    }

    span {
        font-size: 6vw;
    }

    #hero-img-mobi {
        display: block;
        width: 100%;
        height: auto;
    }

    #hero-img-desk {
        display: none;
    }

    #social-media {
        margin-top: 5px;
    }

    #desc {
        font-size: 5vw;
        margin-bottom: 40px;
    }

    .socmed-link {
        margin-bottom: 20px;
    }

    .socmed-btn {
        font-size: 4.5vw;
    }
}